body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Calculator{
    padding: 8px;
    width: 200px;
    height: 380px;
    background-color: #898989;
    display: inline-block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Calculator button{
    position: relative;
    top: 20px;
    border: none;
    border-radius: 11px;
    width: 55px;
    height: 40px;
}

.buttons{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: 7px;
   row-gap: 10px;
}

.Calculator button:hover{
    background-color: #e2e2e2;
    cursor: pointer;
}

.display{
    height: 60px;
    width: 190px;
    top: 3px;
    position: relative;
    background-color: #303030;
    color: white;
    
}